<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:s="http://typo3.org/ns/SkillDisplay/Blog/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
	
<h1>Listing for Post</h1>

<f:flashMessages />

<div class="tx_blog">

	<f:for each="{posts}" as="post">
		<div>
			<h2><f:link.action action="show" arguments="{post : post}"> {post.title}</f:link.action></h2>
			<p>Autor: <s:format.case mode="upper">{post.author.name}</s:format.case></p>
			<f:format.html>{post.text->f:format.crop(maxCharacters: '200')}</f:format.html>
		</div>
	</f:for>

</div>

</f:section>
</html>